body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  background-color: rgb(245, 231, 231);
  padding: 0 0 0 0;
  height: 40px;
}
.Sider{
  background-color: rgb(240,242,245);
  height: 100%;
}
.Content{
  background-color: rgb(255, 255, 255);
  margin: 10px 10px 10px 10px ;
  
}
