div.topbar-low {
    border-bottom:1px solid  var(--semi-color-border);
    width: 100%;
    height: 40px;
    margin-bottom: 1px;
    background-color: --semi-color-bg-0;
    -webkit-app-region: drag;
    display: flex;
}

img.top-img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
}

a.window-title {
    font-size: 15px;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    color: var(--semi-color-text-0);
}

div.winbutton {
    width: 100%;
    margin-top: 0px;

    text-align: right;
}

Button.button-exit {
    -webkit-app-region: no-drag;
    margin: 0 0 0 0;
    padding: 0px 13px 0px;

}